/* static/style.css */
body {
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
}

.rule-block {
    padding: 0 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}
